<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>fragments</title>
</head>
<body>

<div th:fragment="meta">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1"/>
</div>

<div th:fragment="css">
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
        th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css"
        th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
  <link rel="stylesheet" href="../../static/custom/css/custom.css"
        th:href="@{/custom/css/custom.css}"/>
</div>

<div th:fragment="js">
  <script src="../../static/jquery/jquery-3.2.1.min.js"
          th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"
          th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</div>

<footer th:fragment="copy-right">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <h5>Copyright © 1999-2018, All Rights Reserved</h5>
      </div>
    </div>
  </div>
</footer>

</body>
</html>