<div class="col-md-6">
    <h2 class="text-center">Add User</h2>
  <form>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
    </div>
  
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>
  
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>
  
    <button class="btn btn-success" (click)="createUser()">Create</button>
  </form>
  </div>
  