<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="common/fragments :: meta"></div>
  <!-- load css -->
  <div th:replace="common/fragments :: css"></div>

  <title>employee - view</title>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- 与modelAttribute注解关联需要使用th:object-->
      <form id="employee-form" th:action="@{/process}" th:object="${employee}" method="post">
        <!-- 对象属性绑定使用th:field -->
        <input type="hidden" th:field="*{id}"/>
        <input id="firstName" type="text" th:field="*{firstName}"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstName}">
        </div>
        <input id="lastName" type="text" th:field="*{lastName}"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}">
        </div>
        <input id="SN" type="text" th:field="*{SN}"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('SN')}"
             th:errors="*{SN}">
        </div>
        <select id="department" name="deptId">
          <option th:each="dept : ${departments}"
                  th:value="${dept.id}"
                  th:text="${dept.name}">
          </option>
        </select>
        <div th:each="role, state : ${roles}">
          <input type="checkbox"
                 class="form-checkbox"
                 th:value="${role.id}"
                 name="roleIds"
                 th:id="${state.index}"/>

          <label th:text="${role.name}"
                 th:for="${state.index}">
          </label>
        </div>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  </div>
</div>

<div th:replace="common/fragments :: copy-right"></div>

</body>

<!-- load js -->
<div th:replace="common/fragments :: js"></div>

<script>
    $(document).ready(function(){
        var checkboxs = $('.form-checkbox')
        checkboxs.each(function (){
            var checkbox = $(this)
            if(($.inArray(checkbox.val(), userRoles)) !== -1){
                checkbox.attr('checked', true)
            }
        })
    })

</script>

</html>